/* photography page */

.nav {
  background-color: #ffffff;
}

.portfolio {
  width: 100%;
  height: auto;
  background-color: #fff;
  /* portraiture*/
  /* background-color: #E8CDDA; */

  /*automotive*/
  /* background-color: #AF4546; */

  /* product */
  /* background-color: #B1AFAA; */

  /*fashion*/
  /* background-color: #D2A97C; */

  /*interior*/
  /* background-color: #9F8E74; */
  padding: 5rem 1.5rem;
  position: relative;
  transition: background-color 400ms ease;
}

.portfolio__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.portfolio__title > .hori-rule {
  width: 125px;
  border: 2px solid #000000;
  border-radius: 25px;
  background: black;
}

.portfolio__title h1 {
  font-size: 1.5rem;
  width: 60%;
  text-align: left;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 1rem;
}

.portfolio__grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  row-gap: 2rem;
  grid-template-areas:
    "portait"
    "automotive"
    "product"
    "fashion"
    "interior";
}

.portfolio__grid div {
  width: 100%;
  max-width: 525px;
  height: 425px;
  cursor: pointer;
}

.portait-text,.auto-text,.product-text,.fashion-text,.interior-text{
  position:relative;
  visibility: hidden;
}


.portfolio__grid .portrait p{
  font-size: 10rem;
  position: absolute;
  top: 400px;
  left: 500px;
  color:#fff;
}

.portfolio__grid .product p,
.portfolio__grid .interior p {
  font-size: 10rem;
  position: absolute;
  top: 300px;
  left: 400px;
  color:#fff;
}

.portfolio__grid .automotive p,.portfolio__grid .fashion p{
  font-size: 10rem;
  position: absolute;
  color:#fff;
  top:200px;
  left:-500px;
}



.portfolio__grid .portrait {
  background-image: url("/assets/photog-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: portait;
}
.portfolio__grid .automotive {
  background-image: url("/assets/photog-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: automotive;
}
.portfolio__grid .product {
  background-image: url("/assets/photog-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: product;
}
.portfolio__grid .fashion {
  background-image: url("/assets/photog-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: fashion;
}
.portfolio__grid .interior {
  background-image: url("/assets/photog-5.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: interior;
}

.portfolio__genre {
  width: auto;
  height: auto;
  /* background-color: blueviolet; */
  position: absolute;
  left: 30%;
  top: 40%;
  position: fixed;
  color: white;
}
.portfolio__genre-type {
  display: none;
}
.portfolio__genre-type p {
  font-size: 10rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
  .portfolio {
    padding: 8rem 0rem;
  }
  .portfolio__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    row-gap: 6rem;
    padding: 0 3rem;
    grid-template-areas:
    "portait ."
    ". automotive"
    "product ."
    ". fashion"
    "interior .";
  }

  .portfolio__grid div {
    height: 625px;
    justify-self: center;
  }

  .portait-text,.auto-text,.product-text,.fashion-text,.interior-text{
    position:relative;
    visibility: visible;
  }
}
@media screen and (min-width: 1440px) {
}
