.web-project__grid__main-image {
  width: 100%;
  height: 250px;
  grid-area: "main-thumb";
  background-image: url("/assets/testimonial/desktop-design.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-grid #img1 {
  width: 100%;
  height: 300px;
  grid-row: 1/2;
  grid-row: 1/3;
  grid-area: "img1";
  background-image: url("/assets/testimonial/testgrid.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-grid #img2 {
  grid-area: "img2";
  background-image: url("/assets/testimonial/screenshot.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-grid #img3 {
  grid-area: "img3";
  background-image: url("/assets/testimonial/code-example.png");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.next-project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.next-project > div {
  width: auto;
  height: 100px;
  padding: 2rem;
  background: #96c1d6;
  text-align: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
  /* .web-project__title {
      justify-content: flex-start;
    } */
  .web-project__title h1 {
    font-size: 2rem;
    margin-left: -2rem;
  }

  .web-project__grid__main-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .web-project__grid__content-info p {
    margin: 0 2rem;
  }

  .web-project__grid__about #goal,
  .web-project__grid__about #built {
    margin: 1.5rem;
  }

  .web-project__grid__grid-img .inner-grid {
    padding: 2rem;
  }
}

/* Desktop - 1024px */
@media screen and (min-width: 1024px) {
  .web-project__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .inner-grid #img1 {
    height: 400px;
  }

  .web-project__grid__content-info {
    align-self: center;
    justify-self: center;
    margin-top: -5rem;
  }

  .web-project__grid__main-image {
    height: 350px;
  }

  .web-project__grid__about p {
    width: 80%;
  }
  .web-project__grid__grid-img {
    height: 600px;
    margin: -3rem 0 0 -3rem;
  }

  .web-project__title {
    padding: 0 2rem;
  }
  .web-project__title h1 {
    font-size: 2.5rem;
  }

  .web-project__title > .hori-rule {
    width: 175px;
  }
  .web-project__title a {
    width: auto;
    height: auto;
  }
  .web-project__title span#text {
    display: inline-block;
  }

  .web-project__grid__grid-img .inner-grid {
    padding: 2.5rem;
  }
}

/* Desktop - 1440px */
@media screen and (min-width: 1440px) {
  .web-project__title > .hori-rule {
    width: 200px;
  }

  .web-project__grid__content-info p {
    font-size: 18px;
  }
  .web-project__grid__main-image {
    height: 400px;
  }
}

/* Desktop - 1920px */
@media screen and (min-width: 1920px) {
  .web-project__grid__main-image {
    height: 530px;
  }
}
